body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#navTop {
    background-color: #333;
    color: #fff;
    padding: 1%;
    text-align: right;
    background-color: white;
}

.links {
    text-align: right;
    font-size: 130%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');

.logo {
    text-align: left;
    color: white;
    font-family: 'Expletus Sans', 'Times New Roman', Times, serif;
    font-size: 80px;
    text-transform: bold;
    -webkit-text-stroke: 2px rgb(2, 2, 78);

    border:5px;
    position: relative;
    bottom: 110px;
    left: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 3%;
}
#about {
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
}

#about p {
    text-align: center;
    color: white;
    font-size: 150%;
    font-family: sans-serif;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    padding-bottom: 15%;

    margin-top: -9.3%;

    background-image:url(https://static.vecteezy.com/system/resources/previews/016/086/868/original/multi-layers-blue-color-texture-3d-papercut-layers-in-gradient-banner-abstract-paper-cut-art-background-design-for-website-template-topography-map-concept-or-smooth-origami-paper-cut-vector.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.hpBtn {
    padding: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 3.5%;
    
    border: solid black;
    border-width: 0px;
    border-radius: 15px;

    color: transparent;

    cursor: pointer;

    background-image: url(https://cdn0.iconfinder.com/data/icons/ui-essential-filled-line/32/home-dashboard-main-menu-512.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.pwBtn{
    padding: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
   
    border: solid black;
    border-width: 0px;
    border-radius: 15px;

    color: transparent;

    cursor: pointer;

    background-image: url(https://img.myloview.es/posters/computer-icon-in-trendy-flat-style-modern-pc-icon-for-web-app-and-ui-design-700-177098382.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:scroll;
}

.tBtn{
    padding: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;

    border: solid black;
    border-width: 0px;
    border-radius: 15px;

    color: transparent;

    cursor: pointer;

    background-image: url(https://cdn-icons-png.flaticon.com/512/7830/7830254.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:scroll;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btnInfo {
    display: flex;
    justify-content: space-between;

    margin-left: 12%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: -5.2%;

    font-size: 30px;
    font-family: sans-serif;
}